
.vs/ScoresMaster/v16/.suo
*.cache
*.pdb
*.csproj
.vs/ScoresMaster/v16/.suo
*.dll
*.csproj
*.pdb
*.dll
*.cache
*.v2
Algoritmiek/.vs/Algoritmiek/v16/.suo
*.props
*.cache
ScoresMaster/obj/Debug/ScoresMaster.csprojAssemblyReference.cache
ScoresMaster/LeagueDatabase.cs
Algoritmiek/Vraag 9/obj/Vraag 9.csproj.nuget.g.targets
Algoritmiek/Vraag 7/obj/Vraag 7.csproj.nuget.g.targets
Algoritmiek/Vraag 6/obj/Vraag 6.csproj.nuget.g.targets
Algoritmiek/Vraag 5/obj/Vraag 5.csproj.nuget.g.targets
ScoresMaster/obj/Debug/ScoresMaster.csproj.CoreCompileInputs.cache
