@model ScoresMaster.Models.League

<h2>Match Details</h2>

<style>
    .avatar {
        vertical-align: middle;
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .container {
        padding: 2px 16px;
        border-radius: 5px;
    }

    #wrapper {
        display: flex;
        border: 1px solid black;
        background-color: #5C90CD;
    }

    #home {
        border: 50px transparent;
        margin-left: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #away {
        border: 50px transparent;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #time {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<head>
    <title> API</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        jQuery.getJSON('https://app.sportdataapi.com/api/v1/soccer/matches?apikey=78b7f4f0-781d-11eb-b7ce-ab513a4a050f&season_id=352&date_from=2021-03-01', function (result) {
            console.log(result)
                var Get_Results1 = result.data[i]
                var start_time = Get_Results1.match_start
                var away = Get_Results1.away_team.name
                var home = Get_Results1.home_team.name
                var id = Get_Results1.match_id
                $(".id").append(id)
                $(".time").append(start_time)
                $(".away").append(away)
                $(".home").append(home)   
        });
    </script>
</head>

<body>
    <p class="id"></p>
    <div class="container" id="wrapper">
        <img src="~/Images/PremierLeague.png" alt="Avatar" class="avatar">
        <div id="home" class="home"></div>
        <div id="time" class="time"></div>
        <div id="away" class="away"></div>
    </div>


   
</body>

