@{
    ViewBag.Title = "Home Page";
}
<head>
    <title> API</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>


</head>
<body>
    <div class="match_data-container">
        <p class="id"></p>
        <p class="time"></p>
        <p class="home"></p>
        <p class="away"></p>
    </div>
</body>
